<ul id='options'>
                    <li id='homePage'>Home</li>
                    <li id='aboutUsPage'>About Us</li>
                    <li id='futureBillPredictionPage'>Future Bill Prediction</li>
                    <li id='resultHistoryPage'>Result History</li>
                    <li id='upcomingBillsPage'>Upcoming Bills</li>
                    <li id='educationalVideoPage'>Educational Video</li>
                    <li id='mySubmittedBillsPage'>My Submitted Bills</li>
                </ul>